.padge-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin-bottom: 84px;
}

.site-logo {
  display: block;
}

.site-logo__img {
  width: 120px;
  height: 30px;
  color: $font-color;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0;
  padding: 0;
  font-size: $main-font-size;
  list-style: none;
}

.site-navigation__item {
  display: flex;
  justify-content: space-between;
}

.site-navigation__link {
  display: block;
  color: $font-color;
  font-family: $main-font;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: $bg-color-sec;}
}

.site-navigation__link::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $bg-color-sec;
  visibility: hidden;
  opacity: 0;
}
.site-navigation__link::after {
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
}

.site-navigation__link:hover::after {
  visibility: visible;
  opacity: 1;
  color: $bg-color-sec;
}
