/*Fonts*/
$main-font: "Montserrat", sans-serif;
$second-font: "Kaushan Script", sans-serif;
$content-font: "Roboto", sans-serif;
$main-font-size: 14px;
$main-font-hight: 16px;

/*Colors*/

$bg-image: linear-gradient(
  0deg,
  rgba(251, 227, 137, 0.88) 0%,
  rgba(243, 138, 129, 0.78) 100%
);

$font-color:  #fff;

$icons-color: rgb(149, 225, 211);
$bg-color: #e88282;
$bg-color-sec: rgb(252, 227, 138);


